# Meta files
*.DS_Store
# Sublime text
*.sublime-*
## VSCode
.vscode
## GoLand
.idea
## tmp
.tmp*

# cache
.gocache
.cache

# Binary programs
/lssh
/lscp
/lsftp
/lsmon
/lsmux
/lsshell
/lsshfs
/lssync
/lsdiff
*.exe
